
<div class = 'flash_notices'>
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_for @customer do |f| %>
    <div>
      <%= f.label :name, "Name"%>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email, "E-mail"%>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :password, "Password"%>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit 'Go!' %>
    </div>
  <% end %>
</div>
