<h1> Customer Personal Page</h1>

<div>
  Customer Profile Information
  <div>
<div>
  <%= link_to 'Update Profile', edit_customer_path(current_customer) %>
</div>
    <%= current_customer.name %>
  </div>
  <div>
    <%= current_customer.email %>
  </div>

<div>

<div>
Reservations:
  <% current_customer.reservations.each do |reservation| %>
    <ul>
      <li> <%= reservation.restaurant.name %> <%= reservation.date %> <%= chop_time(reservation.time) %> </li>
    </ul>
  <% end%>
</div>
