<h1> Customer Personal Page</h1>

<div>
  Customer Profile Information
  <div>
<div>
  <%= link_to 'Update profile', edit_customer_path(current_customer) %>
</div>

<div>
  <%= link_to 'Delete profile', current_customer, method: :delete, data: {confirm: "Are you sure you want to leave us?"} %>
</div>
    <%= current_customer.name %>
  </div>
  <div>
    <%= current_customer.email %>
  </div>

<div>

<div>
Reservations:
  <% current_customer.reservations.each do |reservation| %>
    <ul>
      <li> <%= reservation.restaurant.name %> <%= reservation.date %> <%= chop_time(reservation.time) %>
      </li><%= link_to 'View Reservation Details', restaurant_reservation_path(restaurant_id: reservation.restaurant_id, id: reservation.id) %>
    </ul>
  <% end%>

  <%= link_to'back to main page', restaurants_path %>
</div>
