
<% puts params.inspect %>

<div>
Reservation Details
<%= @reservation.date %>
<%=@reservation.time%>
    <ul>
      <li> Location: <%= @reservation.restaurant.name %> </li>
      <li> Date: <%= @reservation.date %> </li>
      <li> Time: <%= chop_time(@reservation.time) %>
      </li>
    </ul>
</div>

<div>
Update Details

  <%= form_for [@restaurant, @reservation] do |f| %>
    <div>
      <%= collection_select(:reservation, :restaurant_id, Restaurant.all, :id, :name) %>
    </div>
    <div>
      <%= f.label :date %>
      <%= f.date_field :date  %>
    </div>

    <div>

      <%   @form_time_range = (@restaurant.opening.hour..@restaurant.closing.hour) %>
      <% %form_time_view = (@restaurant.opening.)
            <%= f.select :time, options_for_select(@form_time_range, @form_time_range) %>

            <% if false %>
            <%= f.collection_select(:time, @form_time_range, :time, @form_time_range) %>

      # options_for_select([["Dollar", "$"], ["Kroner", "DKK"]])
      # # => <option value="$">Dollar</option>
      # # => <option value="DKK">Kroner</option>
      # -->
      <%= f.label :time %>
      <%= f.time_field :time %>
    </div>
<% end %>
    <div>
      <%= f.label :party_size %>
      <%= f.number_field :party_size %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end%>

<%= link_to 'Delete Reservation', [@restaurant, @reservation], method: :delete, data: {confirm: "Are you sure you want to delete this reservation?"} %>

</div>
