<div class= "reservation_container">
    <h1 class="reserve_title"> Make a Reservation </h1>

<%= form_for [@restaurant, @reservation] do |f| %>
<div class="form_field">
  <%= f.label :date %><br>
  <%= f.date_field :date, class:'form_box' %>
  </div>

  <div class="form_field">
    <% dropdown = @restaurant.time_range(@restaurant) %>
    <% time_options = @restaurant.time_range_show(dropdown) %>
    <%= f.label :time %><br>
    <%= f.select :time, options_for_select(time_options, dropdown)%>
  </div>

  <div class="form_field">
    <%= f.label :party_size%><br>
    <%= f.number_field :party_size %>
  </div>
  <div class="form_field">
    <%= f.submit 'Find a Table', :class=>"form_button" %>
  </div>
<% end %>

<h2 class="about_resto">About Restaurant : <span class="about_resto_name"><%=@restaurant.name%></span></h2>
<div class="about_resto_img">
  <%=image_tag(@restaurant.img_link, size: "600x600") %>
 </div>
<p class="about_resto_desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>


<%= link_to 'Update Restaurant', edit_restaurant_path %>
<%= link_to 'Delete Restaurant', @restaurant, method: :delete,  data: {confirm: "Are you sure you want to delete this restaurant"}  %>
