<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header id="header">
    <div id="logo">
      OT
    </div>
  <nav id="main-menu">
    <% if current_customer %>
      logged in as <%= current_customer.name %>
      <%= link_to 'Sign out', session_path(session[:customer_id]), method: :delete, class: "btn"%>

    <% else %>
    <div class="nav_link">
      <%= link_to 'Sign up', new_customer_path%>
    </div>

    <div class="nav_link">
      <%= link_to 'Log in', new_session_path%>
    </div>
    <% end %>
  </nav>
</header>

    <%= yield %>

</body>
</html>
