<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_customer %>
    logged in as <%= current_customer.name %>
    <%= link_to 'Sign out', session_path("current"), method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
